body {
    background-color: antiquewhite;
    border: red solid 2px;
    height: 98vh;
    border:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40vw;
    height: 60vh;
    background-color: white;
    box-shadow: rgb(185, 185, 185) 0px 0px 10px;
}

.pgInicial img {
    
}

.pgPerguntas {
    display: none;
}