@font-face {
    font-family: "Brianne";
    src: url("fonts/Brianne_s_hand.ttf") format("truetype");
}

body {
    background-color: antiquewhite;
    font-family: "Brianne";
    font-size: 1.3rem;
    letter-spacing: 1px;
    height: 97vh;
    border:0;
    background-image: url(/img/gramadocortado\ \(2\).jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* width: 40vw;
    height: 60vh;  */
    display: flex;
    justify-content: center;
    align-items: center;   
    /* min-width: 550px;
    min-height: 571px; */
    width: 750px;
    height: 600px;
}

.pgPerguntas {
    font-size: 2rem;
    /* width: 30vw;
    height: 50vh;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-width: 409px;
    min-height: 434px; */
    width: 550px;
    height: 500px;
}

.container img{
    position: absolute;
    z-index: -5;
    width: 40vw;
    height: 60vh;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    /* min-width: 550px;
    min-height: 571px; */
    width: 750px;
    height: 600px;
}

button {
    background-color: rgb(139, 65, 23);
    color: rgb(212, 158, 91);
    font-family: "Brianne";
    font-size: 1.5rem;
    width: 130px;
    height: auto;
    border: solid 1px rgb(107, 76, 19);
    box-shadow: 0 0 2px black;
}

#btn {
    display: flex;
    justify-content: space-between;
}

.pgInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (width <= 770px) {
    #divPergunta {
        /* min-width: none;
        min-height: none; */
        width: 100%;
        height: 100vw;
    }

    .container img, .container {
        min-width: none;
        min-height: none;
        width: 100vw;
        height: 90vw;
    }

    .pgPerguntas {
        width: 80%;
        height: 80vw;
    }
}

@media (width <= 600px) {
    .container img, .container {
        height: 110vw;
    }

    .pgPerguntas {
        height: 90vw;
    }
}